@keyframes tooltip-pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tooltip-pop-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.tooltip {
  position: relative;
  cursor: var(--tooltip-cursor);
  width: fit-content;
  margin: auto 0;
}

.tooltip-bottom,
.tooltip-top {
  position: absolute;
  left: var(--tooltip-left-position);
  top: var(--tooltip-top-position);
  opacity: var(--tooltip-opacity);
  will-change: top, left, opacity;
}

.tooltip-bottom {
  content: "";
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  margin-left: -8px;
}

.tooltip-top {
  background: rgba(0, 0, 0, 0.9);
  transform: translateY(-100%);
  font-size: 14px;
  margin-left: -150px;
  width: 300px;
  border-radius: 10px;
  color: #eee;
  padding: 14px;
}

.table-wrapper {
  margin: 40px auto;
}
