.tooltip {
  position: relative;
  cursor: var(--tooltip-cursor);
  width: fit-content;
  margin: auto 40px;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  opacity: var(--tooltip-opacity);
  transition: all ease var(--tooltip-duration);
}

.tooltip::before {
  content: "";
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  top: 200px;
  margin-left: -8px;
}

.tooltip::after {
  content: attr(data-tooltip);
  background: rgba(0, 0, 0, 0.9);
  top: 200px;
  transform: translateY(-100%);
  font-size: 14px;
  margin-left: -150px;
  width: 300px;
  border-radius: 10px;
  color: #eee;
  padding: 14px;
}
